h4 {
	color:red;
}

h1 {
	color:DodgerBlue;
	font-family: arial;
}

h6 {
	color:Green;
	text-align: center;
}
#num1 {
	text-align: left;
	font-family: verdana;
	color:orange
}

#num2 {
	text-align: center;
	color:pink;
}

#num3 {
	text-align: right; 
	color:yellow;
}

.nien {
	color:orange;
	text-align: left
}

.da p {
	color:pink;
	text-align: center
}

.so {
	color:blue;
	text-align: center;
}
