<!DOCTYPE html>
<html>
<head> 
	<style>
#B1 td, #B1 th {
    border: 1px solid #ddd;
    padding: 8px;
}


#B1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#B1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#B1 td, #B1 th{
    border: .5px solid black;
}
  h1 {
	padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: white;
    
}
	h2 {
		padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: red;
		
	}
	h3 {
		text-align: center;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #4CAF50;
}
	p {
		text-align: center;
		font-family: verdana, Geneva, sans-serif;
		color:black;
}
#a { 
		text-align: center;
}
#b {
	font-family: verdana, Geneva, sans-serif;
	color: #4CAF50;
 
	</style>
</head>
<body>
